@using MvcKutuphane.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="margin-bottom:30px"></div>
<h2 style="margin-top:20px"><b>YAZARLAR</b></h2>

<table class="table table-striped">
    <tr style="background:#eda16b">
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>YAZARIN KİTAPLARI</th>
        <th>YAZAR DETAY</th>
    </tr>
    @foreach (var yazr in Model)
    {
        <tr>
            <th>@yazr.ID</th>
            <td>@yazr.AD</td>
            <td>@yazr.SOYAD</td>
            
            <td>@Html.ActionLink("SİL", "YazarSil", new { id = yazr.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek  İstiyor Musunuz?')" })</td>
            <td><a href="/Yazar/YazarGetir/@yazr.ID" class="btn btn-success">GÜNCELLE</a></td>
            @*onclick="return confirm('Silmek  İstiyor Musunuz?')"   =Tıklandığı zaman geri dönüş olarak bunu yazsın dedik*@

            <td><a href="/Yazar/YazarınKitapları/@yazr.ID" class="btn btn-default" style="background-color:#6e6c6c; color:white">Yazarın Kitapları</a></td>
            <td>@yazr.DETAY</td>
        </tr>
    }
</table>
<a href="/Yazar/YazarEkle/" class="btn btn-primary">Yeni Yazar Ekle</a>

