@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>iade Tarihi</th>
        <th>Kitabı İade Et</th>
        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <th>@k.ID</th>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.AD @k.TBLUYELER.SOYAD</td>
            <td>@k.TBLPERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.IADETARIH).ToString("dd/MM/yyyy")</td>

            <td><a href="/Odunc/Odunciade/@k.ID" class="btn btn-default" style="background-color:#fbe7f9">Kitabı İade Et</a></td>

        </tr>
    }
</table>




